/************************* FOOTER
**********************************************/
footer ul {
padding: 0;	
}

footer ul li a{
font-weight: normal;	
}

#footNav{
text-align:right;	

}

#footNav ul{
padding: 0;
}

#footNav ul li{
	display: inline;
	padding: 0 .5em;	
}

#footNav a{
	font-weight: normal;
}

#footerCopy{
padding: .75em 1.5em;
}

#footerCopy img{
vertical-align:middle;
height: 1.5em;	
}